*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Getting Data Using Axios */
#blogs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.post{
  background-color: #333;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.post > h4{
  color: #fff;
}
.post > p{
  color: #ccc;
  font-size: 14px;
}